@import './reset.css';

:root {
	--color-primary: #f76890;
	--color-black: #222;
	--content-max-width: 1424px;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f2f7fa;
}
a {
	color: inherit;
}
a:hover {
	color: var(--color-primary);
}
body {
	overflow-x: hidden;
	color: #222;
}
body::before,
body::after {
	position: absolute;
	content: '';
	height: 300px;
	width: 500px;
	left: 50%;
	border-radius: 100%;
	filter: blur(100px);
	z-index: -1;
}
body::before {
	transform: translate(-75%, -60%);
	background: linear-gradient(to right, #ffc73a22, #ff008822, #6200ff22);
}
body::after {
	transform: translate(0, -60%);
	background: linear-gradient(to right, #001aff22, #6ee5c222);
}
